@import "var.scss";

.main {
    padding: 95px 20px 100px 20px;
    @media (max-width: 600px) {
        padding-top: 55px;
    }

    .hidden {
        opacity: 0;
        transition: all 1s;
    }

    .show {
        opacity: 1;
    }

    .mainDiv {
        padding: 10px 20px;
        box-shadow: rgba(87, 87, 87, 0.336) 0px 50px 100px -20px, rgba(102, 102, 102, 0.349) 0px 30px 60px -30px;

        .mainPfp {
            display: flex;
            justify-content: center;

            .mainPfp__image {
                padding: 5px;
                border: 2px solid white;
                border-radius: 50%;
                max-width: 150px;
            }
        }

        .mainInfo {
            background: none;
            margin-top: 10px;
            display: flex;
            justify-content: center;

            .mainInfoList {
                text-align: center;
                padding-left: 0px;
                margin-bottom: 0px;
                list-style: none;
                max-width: fit-content;
                font-weight: bold;
                
                @media (max-width: 600px) {
                    max-width: 320px;
                }

                .mainInfoList__fandomList {
                    max-width: 500px;
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 1fr;
                    padding-left: 0px;
                    
                    @media (max-width: 600px) {
                        grid-template-columns: 1fr;
                        grid-row: 1fr;
                        max-width: 321px;
                    }

                    .mainInfoList__fandomListContainer{
                        margin-right: 10px;
                        max-width: 320px;
                    }
                }
            }
        }
    }
}